* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

body {
    color: $body-color;
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: $title-color;
}

:focus {
    outline: none;
    border: 0;
}

